@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    BackendAPI api = new BackendAPI("https://api-nis2024-01-a9ewgydcarc4h4ax.swedencentral-01.azurewebsites.net/", new HttpClient());
    //BackendAPI api = new BackendAPI("https://localhost:7187/", new HttpClient());

    ICollection<WeatherForecast> wf = await api.GetWeatherRBACAsync();
    //ICollection<WeatherForecast> wf = await api.GetWeatherAnonymousAsync();
}

<div class="text-center">
    <h1 class="display-4">Nordic Integration Summit 2024</h1>
</div>

<form method="post">
    <button type="submit" asp-page-handler="Increase">Increase Temperature</button>
</form>

<h2>Weather Forecasts</h2>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temperature</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in wf)
        {
            <tr>
                <td>@forecast.Date.ToString("yyyy-MM-dd")</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.Summary</td>
            </tr>
        }
    </tbody>
</table>